# Google Analytics 4
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Builder DAO Contract Addresses (Base chain)
# Override these to deploy for a different Builder DAO
NEXT_PUBLIC_TOKEN_ADDRESS=0x880fb3cf5c6cc2d7dfc13a993e839a9411200c17
NEXT_PUBLIC_AUCTION_ADDRESS=0x494eaa55ecf6310658b8fc004b0888dcb698097f
NEXT_PUBLIC_GOVERNOR_ADDRESS=0x3dd4e53a232b7b715c9ae455f4e732465ed71b4c
NEXT_PUBLIC_TREASURY_ADDRESS=0x72ad986ebac0246d2b3c565ab2a1ce3a14ce6f88
NEXT_PUBLIC_METADATA_ADDRESS=0xdc9799d424ebfdcf5310f3bad3ddcce3931d4b58

# API Keys
ALCHEMY_API_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_GOLDSKY_PROJECT_ID=

# Add other environment variables here as needed
